[defaults]
host_key_checking = False
inventory = ./inventory/hosts.ini
roles_path = ./roles
retry_files_enabled = False
stdout_callback = yaml
remote_user = vagrant

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null